table 
{
	margin-top: 3%;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	width: 100%;
	border-collapse:collapse;
}
td ,th
{
	font-size: 1em;
	border :1px solid #98BF21;
	padding:3px 7px 2px 7px;
}
th
{
	font-size:1.1em;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#9DC45F;
	color:#ffffff;
}